:root {
    --main: #8dc8aa;
    --sec: #448162;
    --bg: #1c3e2f;
    --fg: #fff;
}

* {
    padding: 0;
    margin: 0;
    word-spacing: 3px;
    letter-spacing: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--fg);
}

body {
    overflow-x: hidden;
}

.logo {
    position: absolute;
    left: 10px;
    top: 10px;

    width: 60px;
    box-shadow: 10px 10px 10px var(--bg);
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: var(--main);
    left: 0;
}

.home {
    top: 0;
    
    background-color: var(--main);
    background-image: url('background.jpg');
    background-position: center;
    background-size: calc(250vh);

    display: flex;
    align-items: center;
    justify-content: center;
}

.overall {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .head {
    border: 1px solid var(--main);
    border-radius: 6px;
    padding: 20px;
}

.home .pages {
    margin-top: 60px;
}

.home .pages button {
    padding: 8px;
    margin: 5px;
    background-color: transparent;
    border: none;
    border-left: 2px solid var(--bg);
    transition: background-color .3s;
}

.home .pages button:hover {
    background-color: var(--bg);
}

.array {
    top: 300vh;
    background-color: var(--main);
}

.overall {
    top: 100vh;
}

.graph {
    top: 200vh;
}

.graph .types {
    position: absolute;
    bottom: 30px;
    width: 100vw;
    height: 10vh;
}

.graph .types button {
    padding: 10px;
    margin: 5px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--bg);
    color: var(--bg);

    transition: all ease-in-out .3s;
}

.graph .types button:hover {
    background-color: var(--bg);
    color: var(--fg);
}

.graph .gcontent {
    height: calc(90vh - 35px);
}

#gcontent * {
    background-color: transparent;
}

.subspan {
    color: red;
}

.avgspan {
    color: green;
}